@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;
}

body{
	background: var(--bg-color);
	color: var(--text-color);
}

.resume{
	width: 100%;
	background: var(--bg-color);
	display: flex;
}

.left{
	background: var(--bg-color);
	width: 30%;
	padding: 0 40px;
}

.right{
	width: calc(100% - 30%);
	background: var(--second-bg-color);
}

.left .img_holder{
	text-align: center;
}

.left .img_holder img{
	width: 400px;
	height: 370px;
	
}

.pb{
	padding-bottom: 20px;
}

.title{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color:var(--main-color);
	position: relative;
	text-align: right;
	margin-bottom: 45px;
	margin-top: 35px;
}

.title:before{
	content: "";
	position: absolute;
	top: 35px;
	right: 0;
	width: 50px;
	height: 3px;
	background: var(--main-color);
}

.left .icon{
	font-size: 20px;
	color:var(--bg-color);
}

.left .text{
	color: var(--bg-color);
	font-size: 13px;
	margin-left: 20px;
}


.acheivements .li_wrap{
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 25px;
}

.acheivements .li_wrap .icon{
	display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: .15rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.5rem;
    color: var(--main-color);
    transition: .5s ease;
}

.acheivements .li_wrap .icon:hover{
	background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.wrapper li{
	list-style-type: none; ;
}

.acheivements .li_wrap .text{
	font-size: 15px;
	width: calc(100% - 50px);
	word-break: break-word;
	color: var(--text-color);
}

.skills ul,
.hobbies ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.skills .li_wrap,
.hobbies .li_wrap{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.skills .li_wrap{
	background: var(--main-color);
    box-shadow: 0 0 .8rem var(--main-color);
    color: var(--second-bg-color);
    transition: .5s ease;
}
.skills .li_wrap:hover{
	box-shadow: none;
}

.skills .li_wrap .text,
.hobbies .li_wrap .text{
	margin-top: 5px;
	font-size: 15px;
	font-weight: 600;

}

.skills .li_wrap .icon,
.hobbies .li_wrap .icon{
	font-size: 35px;
}

.hobbies .li_wrap{
	border: 2px solid var(--main-color);
}

.hobbies .li_wrap .text,
.hobbies .li_wrap .icon{
	color: var(--main-color);
}

.hobbies .li_wrap{
	background: transparent;
	color: var(--main-color);
	transition: .5s ease;
}

.hobbies .li_wrap:hover{
	background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text{
	color: var(--bg-color);
}

.header{
	background: var(--bg-color);
	padding: 15px 30px;
	color: var(--text-color);
	height: 240px;
}

.header .name{
	font-size: 52px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--main-color);
}

.header .role{
	font-weight: 300;
	font-size: 20px;
}

.header .about{
	margin-top: 20px;
	line-height: 26px;
}

.self-intro_wrap{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 55px;
}

.self-intro video{
	width: 300;
	border-radius: 2rem;
	transition: .5s ease;
}

.self-intro video:hover{
	box-shadow: 0 0 2rem var(--main-color);
}

.right_inner{
	padding: 30px;
	color: var(--text-color);
}

.right_inner .education{
	margin-top: 30px;
}

.languages-wrap{
	width: 60%;
	margin-left: 20%;
}


.languages .li_wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	color: var(--main-color);
	transition: .5s ease;
	border: 2px solid var(--main-color);
	border-radius: 5rem;
	width: 50%;
	height: 50%;
	padding: 10px;
}

.languages .li_wrap:hover{
	background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
	cursor: pointer;
}

.location .li_wrap{
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	color: var(--main-color);
	transition: .5s ease;
	border: 2px solid var(--main-color);
	border-radius: 5rem;
	width: 50%;
	height: 50%;
	padding: 10px;
}

.location .li_wrap:hover{
	background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
	cursor: pointer;
}

.location-wrap{
	margin-left: 30%;
}

.right_inner .li_wrap{
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
    width: 125px;
    color: var(--main-color);
}

.right_inner .li_wrap .info{
	width: calc(100%  - 125px);
	padding-left: 25px;
	position: relative;
}

.right_inner .li_wrap .info_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: var(--main-color);
}

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
}

.right_inner .li_wrap .info_cont{
	margin-top: 15px;
}

.right_inner .li_wrap .info:before{
	content: "";
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: var(--main-color);
	border-radius: 50%;
}

.right_inner .li_wrap .info:after{
	content: "";
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background: var(--main-color);
}

.btn{
	margin-left: 1.5rem;
    display: inline-block;
    padding: .5rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

input{
    padding: .5rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: .8rem;
    margin: 1rem 0;
}

.drag-item {
	padding: 10px;
	border: 1px solid var(--bg-color);
	margin: 5px;
	cursor: move;
}

.drop-zone {
	min-height: 100px;
	border: 2px dashed var(--bg-color);
	padding: 10px;
}

.dropped-item {
	margin: 5px;
}

@media screen and (max-width: 600px) {
	.container {
        padding: 10px;
    }
}